@import url(https://fonts.googleapis.com/css?family=Playfair+Display:400,700&subset=latin,cyrillic);

#slider-f H2 {
  text-align: left;
}
#slider-f P {
  font-size: 32px;
  font-family: 'Playfair Display', sans-serif;
  text-align: left;
}
#content5-h .mbr-section-title {
  font-size: 46px;
  text-align: center;
}
#msg-box4-i .lead P {
  font-size: 18px;
}
#menu-0 .navbar-toggler {
  color: #d5f4f0;
}
#content5-j .mbr-section-title {
  font-size: 46px;
  text-align: left;
}
#content5-l .mbr-section-title {
  font-size: 46px;
  text-align: left;
}
#content5-q .mbr-section-title {
  font-size: 46px;
  text-align: left;
}
#content5-q .mbr-section-title B {
  font-size: 32px;
}
#content5-p .mbr-section-title {
  font-size: 46px;
  text-align: left;
}
#content5-p .mbr-section-title B {
  font-size: 32px;
}
